.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: none !important;
}

.MachinesManualButton:hover {
  background-color:#6c757d !important;
}

.MachinesColOne {
  width: 10%;
}

.MachinesColTwo {
  width: 50%;
}

.MachinesColThree {
  width: 0.001%;
}

.MachinesVectorName {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
}

.MachinesImage {
  width: 100px;
}

.MachinesModel {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(95, 107, 113);
}

.MachinesManualButton, .MachinesSerial {
  text-align: right;
  width: 140px;
}

.MachinesSerial {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.TitleRow {
  display: flex;
  margin: 2rem 0 0.5rem 0;
  flex-wrap: wrap;
}

.MachinesTitle {
  font-weight: 900;
  flex: 1;
}


.MachinesTags {
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.MachinesTag {
  width: 100px;
  margin-left: 5px;
}